
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link href="~/Content/Login_Style.css" rel="stylesheet" />
<div class="container" style="width:100%;background-color: white; margin-top: 80px; border-radius: 4px 4px; box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.32);">

    <div class="omb_login">
        <h3 class="omb_authTitle "><a>Kiểm tra hoặc kích hoạt bảo hành điện tử cho sản phẩm.</a></h3>
        
        <div class="row" style="text-align:center">
            <span class="help-block">@Session["ThongbaoActive"]</span>
        </div>

        @using (Html.BeginForm("Index", "Active", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            bool ND = @ViewBag.ND == "true" ? true : false;
            bool DL = @ViewBag.DL == "true" ? true : false;
            <div class="row omb_row-sm-offset-3">
                <div class="col-xs-12 col-sm-6" style="padding-bottom:10px">
                    <form class="omb_loginForm" action="" autocomplete="off" method="post">

                        <div class="input-group" style="margin-bottom:5px">
                            <span class="text-center text-primary-emphasis">_Để Kích hoạt bảo hành cần điền 2 số serial:</span>
                            <span class="text-primary-emphasis"> * Một trên hộp(Box) và một trên sản phẩm(SP) *</span>
                        </div>
                        <div class="input-group" style="margin-bottom:5px">
                            <span class="text-primary-emphasis">_Để kiểm tra thời gian bảo hành sản phẩm:</span>
                            <span class="text-primary-emphasis"> * Chỉ cần 1 số serial *</span>
                        </div>
                        
                            <div class="col-md-6" style="border: 1px dashed #423333; margin-bottom: 10px">
                                <label class="checkbox text-danger" style="">
                                    @Html.CheckBox("remember", ND) Bạn là Người Dùng
                                </label>
                            </div>
                            <div class="col-md-6" style="border: 1px dashed #423333; margin-bottom: 10px">
                                <label class="checkbox text-danger" style="">
                                    @Html.CheckBox("remember", DL) Là nhà phân phối
                                </label>
                            </div>
                            
                        
                        <div class="input-group" style="margin-bottom:5px">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-warning-sign"></i></span>
                            <input value="@ViewBag.UserName" type="text" class="form-control" name="SerialBox" placeholder="S/N Box">
                        </div>


                        <div class="input-group" style="margin-bottom:5px">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input value="@ViewBag.Password" type="text" class="form-control" name="SerialSP" placeholder="S/N SP">
                        </div>
                        <div class="input-group" style="margin-bottom:5px">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-import"></i></span>
                            <input value="@ViewBag.Password" type="text" class="form-control" name="Gmail" placeholder="Gmail" required>
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
                            <input value="@ViewBag.Password" type="text" class="form-control" name="SDT" placeholder="Số điện thoại" required>
                        </div>
                        <div class="col-md-6">

                        </div>

                        <span class="help-block">@Html.ValidationSummary(false, "", new { @class = "text-danger" })</span>
                        <div class="col-md-6">
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Kíck hoạt BH</button>
                        </div>
                        <div class="col-md-6">
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Kiểm tra BH</button>
                        </div>

                    </form>

                </div>

            </div>

        }
    </div>
</div>
