
<div class="table-responsive">
    <table class="table table-hover table-striped" style="margin-bottom:0">
        <thead>
            <tr class="canhgiua" style="background-color: #00bcd4">
                <th class="canhgiua">STT</th>
                <th class="canhgiua">UserName</th>
                <th class="canhgiua">Mã TC</th>
                <th class="canhgiua">Hình Thức</th>
                <th class="canhgiua">Kỳ Xuất Nhập</th>
                <th class="canhgiua">Nội Dung TC</th>
                <th class="canhgiua">Số Tiền</th>
                <th class="canhgiua">Thu/Chi</th>
                <th class="canhgiua">Ngày TC</th>

                <th class="canhgiua">File1</th>
                <th class="canhgiua">File2</th>
                <th class="canhgiua">Hóa Đơn</th>
                <th class="canhgiua">Ngày Tạo</th>
                @if (Session["quyen"].ToString() == "Admin")
                {
                    <th class="canhgiua" style="width:120px">Sửa/Xóa</th>
                }

            </tr>
        </thead>
        <tbody style="border: 2px solid black !important">
            @foreach (DoChoiXeMay.Models.ChiTietTC Item in ViewBag.ChitietTCTEK)
            {
            <tr class="canhgiua">
                @*<td style="text-align:center">
                <img class="img-responsive img-thumbnail" src="~/Content/images/SanPham/@Item.HinhSanPham" style="max-height:60px">
            </td>*@
                <td>@Item.STT</td>
                <td>@Item.UserTek.UserName</td>

                <td><a title="@Item.MaTC.GhiChu">@Item.MaTC.TenMa</a></td>
                <td>@Item.HinhThucTC.TenHT</td>
                <td>@Item.KyXuatNhap.TenKy</td>
                <td>@Item.Noidung</td>
                <td>@Html.FormatValue(Item.SoTien, "{0:#,###,###}")</td>

                @if (Item.ThuChi == true)
                {
                    <td style="background-color:bisque">
                        <span>Thu vào</span>
                    </td>
                }
                else
                {
                    <td>
                        <span>Chi ra</span>
                    </td>
                }

                <td>@Html.FormatValue(Item.NgayTC, "{0:dd/MM/yyyy}")</td>


                <td>
                    @if (File.Exists(Request.MapPath("~/Areas/Admin/Content/imgthuchi/" + Item.Filesave1)))
                    {
                        <a target="_blank" href="~/Areas/Admin/Content/imgthuchi/@Item.Filesave1">
                            <i class="glyphicon glyphicon-download-alt"></i>
                        </a>
                    }
                </td>
                <td>
                    @if (File.Exists(Request.MapPath("~/Areas/Admin/Content/imgthuchi/" + Item.Filesave2)))
                    {
                        <a target="_blank" href="~/Areas/Admin/Content/imgthuchi/@Item.Filesave2">
                            <i class="glyphicon glyphicon-download-alt"></i>
                        </a>
                    }
                </td>
                <td>
                    @if (File.Exists(Request.MapPath("~/Areas/Admin/Content/imgthuchi/" + Item.HoaDon)))
                    {
                        <a target="_blank" href="~/Areas/Admin/Content/imgthuchi/@Item.HoaDon">
                            <i class="glyphicon glyphicon-download-alt"></i>
                        </a>
                    }
                </td>
                <td>@Html.FormatValue(Item.NgayAuto, "{0:dd/MM/yyyy}")</td>
                @if (Session["quyen"].ToString() == "Admin")
                {
                    <td>
                        <a class="btn btn-danger" href="/Admin/ThuChi/UpdateCTthuchi/@Item.Id"><span class="glyphicon glyphicon-edit"></span></a>
                        <a style="display:none" class="btn btn-warning" onclick="return confirm('Bạn muốn xóa ThuChi ngày @Item.NgayTC ??')" href="/Admin/ThuChi/DeleteThuChi/@Item.Id"><span class="glyphicon glyphicon-trash"></span></a>
                    </td>
                }
            </tr>

            }

        </tbody>
        <tfoot>
            <tr class="canhgiua">
                <td colspan="2" style="color:chocolate">
                    TongThu TK: @ViewBag.ThuTK
                </td>

                <td colspan="2" style="color:chocolate">
                    TongChi TK: @ViewBag.ChiTK
                </td>
                <td>
                    
                </td>
                <td colspan="2" style="color:chocolate">
                    TongThu Tiền Mặt: @ViewBag.ThuTienMat
                </td>
                <td colspan="2" style="color:chocolate">
                    TongChi Tiền Mặt: @ViewBag.ChiTienMat
                </td>
                <td colspan="3" style="color:chocolate">
                    TongThu TK-Tek(VCB): @ViewBag.ThuTKVCB
                </td>
                <td colspan="2" style="color:chocolate">
                    TongChi TK-Tek(VCB): @ViewBag.ChiTKVCB
                </td>
            </tr>
            <tr class="canhgiua">
                <td colspan="4" style="color:mediumblue">
                    ConLai TK:@ViewBag.conlaiTK
                </td>
                <td style="font-size: 20px; color: magenta">
                    Tổng Tiền Còn Lại: @ViewBag.TTconlai
                </td>
                <td colspan="4" style="color:mediumblue">
                    ConLai Tiền Mặt:@ViewBag.conlaiTienmat
                </td>
                <td colspan="4" style="color:mediumblue">
                    ConLai TK-Tek(VCB):@ViewBag.conlaiTKVCB
                </td>
            </tr>
            
        </tfoot>
    </table>
</div>
