@using DoChoiXeMay.Areas.Admin.Data
@using DoChoiXeMay.Models
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layoutadmin.cshtml";
}
<style>
    .canhgiua {
        text-align: center !important;
    }
</style>
        <div class="row" style="padding:20px">
            <h2 class="canhgiua">Danh sách Dự Án TeK</h2>
            <div class="row" style="margin-bottom:10px">
                <div class="col-md-4">
                    <a class="btn btn-warning" href="/Admin/ProjectTeK/InsertProJectTeK" onclick="return confirm('Bạn muốn Thêm Mới Dự Án TeK ??')">
                        <i class="fa fa-plus-circle"></i>&nbsp;&nbsp; Thêm mới "Dự Án TeK"
                    </a>
                </div>
                <div class="pull-right label label-warning" style="margin-bottom: 5px; color: white; font-family: monospace; font-weight: bold; font-size: large">
                    @Session["ThongBaoProject"]
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover table-striped" style="margin-bottom: 0">
                    <thead style="max-width: 300px">
                        <tr class="canhgiua" style="background-color: #00bcd4">
                            <th class="canhgiua" style="">STT</th>
                            <th class="canhgiua" style="width:200px">Tên Dự Án</th>
                            <th class="canhgiua">Người tạo</th>
                            <th class="canhgiua" style="">Chú Thích</th>
                            <th class="canhgiua" style="">Ưu Tiên</th>
                            <th class="canhgiua" style="">Trạng thái</th>
                            <th class="canhgiua" style="">Ngày bắt đầu</th>
                            <th class="canhgiua" style="">Ngày kết thúc</th>
                            <th class="canhgiua">User thamgia</th>
                            <th class="canhgiua" style="width:200px">% hoàn thành</th>
                            <th class="canhgiua" style="width:120px">Sửa/Xóa</th>

                        </tr>
                    </thead>
                    <tbody style="border: 2px solid black !important">
                        @foreach (DoChoiXeMay.Models.ProjectTeK Item in ViewBag.ListProJect)
                        {
                            var ut = Item.Uutien == true ? "Quan trọng" : "Bình thường";
                            var ht = Item.PhantramHoanThanh + "%";
                            var ProjectDetail = new ProjectTeKData().getlistProjectDetail(Item.Id);
                            <tr class="canhgiua" style="border-bottom: 2px solid black !important">
                                <td>@Item.GhiChu</td>
                                <td>
                                    @Item.NameProject
                                    @*<a href="" onclick="chose_view(this.id);return false" id="@str"></a>*@
                                </td>
                                <td>@Item.UserTek.UserName</td>
                                <td>@Item.Giaithich</td>

                                <td>@ut</td>
                                <td>@Item.TrangThaiDuAn.Name</td>
                                <td>@Html.FormatValue(Item.DateBegin, "{0:dd/MM/yyyy}")</td>
                                <td>@Html.FormatValue(Item.DateEnd, "{0:dd/MM/yyyy}")</td>
                                <td></td>
                                <td>
                                    <div class="progress" style="background-color: #e3cece">

                                        <div class="progress-bar wow fadeInLeft" data-progress="@ht" style="width: @ht;" data-wow-duration="1.5s" data-wow-delay="1.2s">
                                            <span>@ht</span>
                                        </div>
                                    </div>
                                </td>

                                <td>
                                    @if (Session["UserId"].ToString() == Item.UserId.ToString())
                                    {
                                        <a class="btn btn-danger" href="/Admin/ProjectTeK/UpdateProjectTeK/@Item.Id"><span class="glyphicon glyphicon-edit"></span></a>
                                        <a @*style="display:none"*@ class="btn btn-warning" onclick="return confirm('Bạn muốn xóa Dự Án: @Item.NameProject ??')" href="/Admin/ProjectTeK/DeleteProject/@Item.Id"><span class="glyphicon glyphicon-trash"></span></a>
                                    }



                                </td>
                            </tr>
                            if (ProjectDetail.Count() > 0)
                            {
                                foreach (ProjectDetail Pj in ProjectDetail)
                                {
                                    <tr class="canhgiua" style="border-bottom: 2px solid black !important">
                                        <td></td>
                                    </tr>
                                }
                            }

                        }
                    </tbody>

                </table>

            </div>
        </div>

