
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}
<style>
    .canhgiua {
        text-align: center !important;
    }
</style>
<div class="container">
    
        <div class="row" style="padding:20px">
            <h4>Danh sách Dự Án TeK</h4>
            <div class="row" style="margin-bottom:10px">
                <div class="col-md-4">
                    <a class="btn btn-warning" href="/Admin/ProjectTeK/InsertProJectTeK" onclick="return confirm('Bạn muốn Thêm Mới Dự Án TeK ??')">
                        <i class="fa fa-plus-circle"></i>&nbsp;&nbsp; Thêm mới "Dự Án TeK"
                    </a>
                </div>
                <div class="pull-right label label-warning" style="margin-bottom: 5px; color: white; font-family: monospace; font-weight: bold; font-size: large">
                    @Session["ThongBaoProject"]
                </div>
            </div>
            <div class="table-responsive">
                <table class="table table-hover table-striped" style="margin-bottom:0">
                    <thead>
                        <tr class="canhgiua" style="background-color: #00bcd4">
                            <th class="canhgiua" style="width:100px">STT</th>
                            <th class="canhgiua" style="width:200px">Tên Dự Án</th>
                            <th class="canhgiua" style="width:200px">Ưu Tiên</th>
                            <th class="canhgiua" style="width: 15px">Trạng thái</th>
                            <th class="canhgiua" style="width: 15px">Phần trăm</th>
                            <th class="canhgiua" style="width: 15px">User</th>
                        </tr>
                    </thead>
                    <tbody style="border: 2px solid black !important">
                        @foreach (DoChoiXeMay.Models.ProjectTeK Item in ViewBag.ListProJect)
                        {
                            //var str = DoChoiXeMay.Areas.Admin.Data.Xstring.Cutstring_getLastString(Item.NoiDung);
                            <tr class="canhgiua" style="border-bottom: 2px solid black !important">
                                <td>@Item.NameProject</td>
                                <td>
                                    <a href="" onclick="chose_view(this.id);return false" id="@str">
                                        @Item.NoteName
                                    </a>
                                </td>
                                <td>
                                    <a>@Item.UserTek.UserName</a>
                                </td>
                                <td>
                                    <a class="btn btn-danger" href="/Admin/NoteKyThuat/EditVideo/@Item.Id"><span class="glyphicon glyphicon-edit"></span></a>
                                    @if (Session["quyen"].ToString() == "Admin")
                                    {
                                        <a class="btn btn-warning" onclick="return confirm('Bạn muốn xóa Video: @Item.NoteName ??')" href="/Admin/NoteKyThuat/DeleteVideo/@Item.Id"><span class="glyphicon glyphicon-trash"></span></a>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>

            </div>
        </div>
    </div>
</div>

